<button hx-get="/create-contact" class="btn btn-primary d-flex align-items-center mb-1">
    <i class="material-symbols-outlined">Add</i>
    Create contact</button>
<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone number</th>
    </tr>
    {% for contact in contacts %}
        <tr hx-get="/contacts/{{contact.contact_id}}">
            <td>{{ contact.first_name }} {{ contact.last_name }}</td>
            <td>{{ contact.email }}</td>
            <td>{{ contact.phone }}</td>
        </tr>
    {% endfor %}

</table>
